<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<!-- 父路径 -->
		<!-- <base href="/demo/"> -->
		<!-- 页面编码 -->
		<meta charset="UTF-8">
		<!-- 响应式布局 -->
		<meta name="viewport" content="width=device-width,initial-scale=1">
        {%  load static %}
	    <link rel="stylesheet" href="{%  static "bootstrap/css/bootstrap.min.css" %}">
	    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	    <script src="{%  static "bootstrap/js/bootstrap.min.js" %}"></script>
		<!-- Bootstrap样式文件 -->

		<!-- 自定义样式文件 -->

		<!-- Jquery脚本文件 -->

		<!-- Bootstrap脚本插件文件 -->

		<!-- 标签名称 -->
		<title>tpsp任务发布简易后台</title>
	</head>
	<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">菜鸟教程</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
    </ul>
  </div>
</nav>

</body>
</html>
